body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: aqua;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

.site-title {
    color: blueviolet;
}

.b {
    list-style: square;
}

li:nth-child(odd) {
    background-color: plum;
}

a:link {
    text-decoration: none;
    background-color: aqua;
    border: 2px solid blueviolet;
    color: blueviolet;
}

a:hover {
    background-color: blueviolet;
    border: 2px solid aqua;
    color: aqua;
}