body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0% auto;
    background-color: #2dfae2;
}

.head-img {
    position: relative;
    text-align: center;
    color: white;
    font-size: 4rem;
    z-index: 3;
}

.title {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

a:link, :visited {
    color: black;
    text-decoration: none;
    background-color: #cee6e3;
    font-size: 1.6rem;
    border-radius: 53%;
}

a:hover {
    background-color: #98c0ba;
    border-radius: 53%;
}

.home-nav {
    position: relative;
    right: 79%;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
}

.story-nav {
    position: relative;
    left: 22px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    margin-left: -8px;
    margin-right: -8px;
}

.contact-nav {
    position: relative;
    left: 86%;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    margin-left: -8px;
    margin-right: -8px;
}

.main-text {
    background-color: #cee6e3;
    position: absolute;
    left: 50%;
    top: 385px;
    transform: translate(-50%);
    width: 1006px;
    padding-top: 40px;
    margin-top: -45px;
    border: 9px solid #cee6e3;
    z-index: 1;
}

.lone-starfish {
    float: left;
    height: 200px;
    margin-right: 12px;
    margin-bottom: 20px;
    margin-top: -10px;
}

.story-title {
    font-size: 1.7rem;
}

p {
    font-size: 100%;
}

.facts-text {
    margin-top: -15px;
}

li {
    position: relative;
    right: 22px;
    margin-top: -3px;
    margin-bottom: -3px;
}

#form-box {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-top: -10px;
}

.text-box {
    width: 99%;
    margin-top: 2px;
    margin-bottom: 10px;
}

#send-button {
    background-color: #cee6e3;
    margin-top: 10px;
    text-align: center;
    width: 50px;
    height: 35px;
}

footer {
    position: relative;
    float: right;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 20px;
}