body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222222;
    padding-top: 10px;
}


header {
    background-color: #222222;
    padding-left: 10px;
    padding-right: 10px;
}

.logo-banner {
    background-color: #C78B07;
    padding-top: 15px;
    padding-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: static;
    text-align: center;
}

li {
    font-size: 1.3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home {
    background-color: #C78B07;
}

.home-button {
    color: #222222;
}

a {
    text-decoration: none;
    color: #C78B07;
}

.search-bar {
    position: static;
    width: 85%;
    height: 30px;
}

.fa-magnifying-glass { 
    position: static;
    right: inherit;
    color: #C78B07;
    padding: 8px;
    border: solid #C78B07 1px;
    margin: 1px;
}